# Set this to "true" to use the dummy Telegram user ID for local development
VITE_DEV_ENV=true

# Optional: You can override the default dummy ID by setting this variable
VITE_DUMMY_TG_ID=5875912525

# Specify the URL of your FastAPI backend (if running on a different domain or port)
VITE_API_URL=http://localhost:8000
